* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}
body {
    margin-top: 4em;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    color: white;
    margin: 0;
    /* padding: 1em; */
    width: 100%;
    text-transform: uppercase;
}
header a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 1em;
}
header a:hover {
    background-color: #ffffff22;
}
#logout {
    float: right;
}

#finder * {
    font-size: 2rem;
    margin: 0 .2em;
}

#loading {
    display: none;
    /* font-size: large; */
    /* font-weight: bolder; */
    transition: opacity .2s;
    animation-name: loading-anim;
    animation-duration: .5s;
    animation-direction: initial;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-iteration-count: infinite;
}

@keyframes loading-anim {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.table tr:nth-of-type(even) {
    background-color: #EEE;
}

.table td {
    font-size: 2rem;
    padding: 0 .5em;
}

.action {
    font-size: 2rem;
    padding: 0 .5em;
    display: inline-block;
    padding: .5em;
    text-decoration: none;
    font-weight: bolder;
    color: blue;
}
.action:visited {
    color: blue;
}
.action:hover {
    background-color: lightgray;
}

button.delete, button.save {
    min-width: 3rem;
    float: left;
    font-size: 2rem;
}

.reagentname {
    text-transform: capitalize;
}

#newReagentLink {
    /* display: inline-block; */
    /* position: absolute; */
    float: left;
    /* bottom: 0;
    left: 0; */
    font-size: 55px;
    font-weight: bolder;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-radius: .1em;
}
#newReagentLink:hover {
    background-color: lightgray;
}

form[name="reagent"] input, select {
    margin: .3em .2em;
}